.services {
  margin: 6% 0;
}

.switch button {
  background: none;
  border: 2px solid var(--primary-color);
  font-weight: 900;
  padding: 1.2rem 2rem;
  cursor: pointer;
  transition: background-color 400ms ease-in-out, color 400ms ease-in-out;
}

.switch button[data-active='false']:hover {
  background-color: var(--tertiary-color);
  color: white;
}

.switch button[data-active='true'] {
  background-color: var(--primary-color);
  color: white;
}

.switch button:nth-child(1) {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.switch button:nth-child(2) {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.services-list {
  padding: 0;
  margin-top: 15%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.left-service-list,
.right-service-list {
  animation: fadeIn 800ms ease-in-out;
}

.services-list li {
  width: 100%;
  margin-bottom: 10%;
  text-align: center;
}

.services-list li svg {
  font-size: 3.4rem;
}

@media screen and (min-width: 768px) {
  .services-list li {
    width: 21%;
    margin-right: 10px;
  }
  .switch button {
    padding: 25px 3.5rem;
  }
  .services-list li h3 {
    font-size: 1.5rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
